# Secrets
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ML models
ml/models/
*.pkl
*.joblib
*.h5

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
logs/
*.log